.container
  .jumbotron.m-4.mt-5
    %h3 Publication Members

  .col
    - @user_publications.each do |record|
      .row
        %ul
          %li
            #{link_to record.user.full_name,record.user}
            #{link_to 'Delete', publication_user_publication_path(publication_id: @publication.id, id: record.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-dark"}

    .row
      =link_to 'Add Members',new_publication_user_publication_path(@publication.id), class:"btn btn-info ml-2 mt-4"
%br
