.container
  .jumbotron.m-4.mt-2
    %h3 Publication Members

  - @publication.user_publications.each do |record|
    .row.m-3.ml-5
      -next if record.user == nil
      #{link_to record.user.full_name,record.user}



  =link_to 'Add Members',new_publication_user_publication_path(@publication.id), class:"btn btn-info ml-2 mt-4"
%br
